*{
    background-color: rgb(223, 249, 250);
    margin: 0px;
  padding: 0px;
 
}



li{
    float: left;
    
}



li a:hover{
    background-color: rgb(143, 204, 255);
}



#resume a{
    margin: 0%;
    text-align: center;
    display: inline;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#contact h2{
    
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #222;
    color: rgb(12, 11, 11);
    padding: 1.5em 0;
    text-align: center;
    padding: 1em 0;

    }


