*{
    
    margin: 0px;
  padding: 0px;
 box-sizing: border-box;
 
}

li{
    float: left;
}
body, html {
    height: 100%;
    margin: 0;
  }
.bg{
    
    background-image: url("bg.jpg");
     /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.left{
   padding-top: 180px;
   padding-left: 80px;
}
#element{
    color: rgb(29, 115, 245);
}

.navbar-scrolled{
    transition: all 1s;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


li a:hover{
    background-color: rgb(206, 233, 255);
}



#resume a{
    margin: 0%;
    text-align: center;
    display: inline;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#contact h2{
    
    text-align: center;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: rgb(126, 126, 126);
    color: rgb(12, 11, 11);
    padding: 1.5em 0;
    text-align: center;
    padding: 1em 0;

    }

#about{
    padding-top: 100px;
}

