*{
    
    margin: 0px;
  padding: 0px;
 box-sizing: border-box;
 
}

li{
    float: left;
}
body, html {
    height: 100%;
    margin: 0;
  }
.page1{
    display: flex;

  /* background-color: rgba(156, 161, 168, 0.7); */
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#particles-js{
    height: 100%;
    width: 100%;
    overflow-clip-margin: content-box;
    overflow: clip;
    position: absolute;
}

.left{
    position: relative;
    height: 75%;
    width: 40%;
    top: 15%;
    left: 5%;
    /* background-color: red; */
   padding-top: 100px;
}
/* Styling for the download button */
.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px; /* Rounded corners */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  /* Hover effect */
  .download-button:hover {
    background-color: #0056b3; /* Change background color on hover */
  }
  

.right{

    position: relative;
    height: 75%;
    width: 45%;
    top: 15%;
    left: 10%;
    /* background-color: rgb(148, 250, 128); */
   
}
.right>img{
    position: absolute;
    width: 80%;
    right:10%;
    top: 0%;
}

#element{
    color: rgb(29, 115, 245);
}

.navbar-scrolled{
    transition: all 1s;
    background-color: rgb(222, 255, 249);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}


li a:hover{
    background-color: rgb(206, 233, 255);
}



#resume a{
    margin: 0%;
    text-align: center;
    display: inline;
    padding: 5px 10px;
    color: white;
    text-decoration: none;
    background-color: #333;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

#contact h2{
    
    text-align: center;
}

footer {
    /* position: absolute; */
    bottom: 0;
    width: 100%;
    background-color: rgb(126, 126, 126);
    color: rgb(12, 11, 11);
    padding: 1.5em 0;
    text-align: center;
    padding: 1em 0;

    }

#about{
    padding-top: 100px;
    
    background-color: aqua;
    height: 100%;
  
  background-repeat: no-repeat;
  background-size: cover;
}

#Servies{
    padding-top: 60px;
    background-color: rgb(199, 248, 106);
    height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
